{% extends 'llm/base.html' %}
{% load static markdownify %}

{% block content %}
{% if history.count == 0 %}
  <div class="position-absolute w-100 top-50 start-50 translate-middle text-center">
    <div class="container">
      <div class="card max-w-400 text-center mx-auto">
        <div class="card-header display-6 fw-bold">
          PDF Summary
        </div>
        <div class="card-body">
          <p class="card-text">
            A web app that quickly extracts and summarizes text from PDF files using the Gemini LLM API. Designed for efficiency, it helps users save time by turning long documents into concise, easy-to-read summaries. Built with Django, PostgreSQL, and a sleek Bootstrap frontend, it is the perfect tool for professionals and students who need fast insights from PDFs.
          </p>
        </div>
        <div class="card-footer">
          <p class="h5">
            Upload to see History!
          </p>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <ul id="history" class="list-unstyled my-5">
    {% for summary in history %}
    <li class="d-flex justify-content-end mb-4">
      <div class="card shadow chat-box">
        <div class="card-header fw-bold">
          {{ summary.attachment }}
        </div>
        <div class="card-body">
          <p class="card-text mb-3">{{ summary.short_extracted_text|markdownify }}</p>
          <a href="{% url 'llm:summary' summary.uid %}" class="btn btn-sm btn-outline-primary">Get Full Info</a>
        </div>
        <div class="card-footer">
          <p class="small mb-0">{{ summary.created }}</p>
        </div>
      </div>
    </li>
    <li class="d-flex justify-content-start mb-4">
      <div class="card shadow chat-box">
        <div class="card-header fw-bold">
          {{ summary.title }}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ summary.summary|markdownify }}
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pb-5"></div>
{% endif %}

{% include 'llm/partials/summary-form.html' %}

{% endblock content %}
