{% extends 'llm/base.html' %}
{% load static %}

{% block content %}
{% if history.count == 0 %}
  <div class="position-relative h-100">
    <div class="position-absolute h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="card max-w-640 text-center">
        <div class="card-header display-6 fw-bold">
          PDF Summary
        </div>
        <div class="card-body">
          <p class="card-text">
            A web app that quickly extracts and summarizes text from PDF files using the Gemini LLM API. Designed for efficiency, it helps users save time by turning long documents into concise, easy-to-read summaries. Built with Django, PostgreSQL, and a sleek Bootstrap frontend, it is the perfect tool for professionals and students who need fast insights from PDFs.
          </p>
        </div>
        <div class="card-footer">
          <p class="h5">
            Upload to see History!
          </p>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="my-5 pb-5">
    <ul class="list-unstyled">
      {% for summary in history %}
      <li class="d-flex justify-content-end mb-4">
        <div class="card shadow">
          <div class="card-body">
            <a href="{{ summary.attachment }}" target="_blank" rel="noopener noreferrer">{{ summary.attachment }}</a>
          </div>
          <div class="card-footer">
            <p class="small mb-0">{{ summary.created }}</p>
          </div>
        </div>
      </li>
      <li class="d-flex justify-content-start mb-4">
        <div class="card shadow bot-response-box">
          <div class="card-header fw-bold">
            {{ summary.title }}
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ summary.summary }}
            </p>
            <a href="{% url 'llm:summary' summary.uid %}" class="btn btn-sm btn-outline-primary">Get Full Info</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<form class="form py-3 bg-body mb-0 fixed-bottom" id="summary-form" action="/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container shadow">
    <div class="input-group">
      <input class="form-control" name="attachment" type="file" id="attachment" accept=".pdf" required>
      <button class="btn btn-primary" type="submit">
        Submit
      </button>
    </div>
    {% if form.errors.attachment %}
      <div class="small text-danger mt-2">{{ form.errors.attachment|join:' ' }}</div>
    {% endif %}
    {% if form.errors.all %}
      <div class="alert alert-danger mt-2">{{ form.errors.all|join:' ' }}</div>
    {% endif %}
  </div>
</form>

{% endblock content %}
